
.header {
  background-color: rgb(71, 65, 65) !important;
  color: white;
  height: 10vh;
  font-size: 24px;
  align-items: center;
}

.search-icon {
  margin-left: 2em;
}

.search-input {
  background-color: transparent;
  color:white;
  border: none;
  outline:white;
  height:30px;
  margin-left: 1em;
}

.search-input::-webkit-search-cancel-button {

  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  background: white;
}

.card-movie-list {
  font-size: 18px;
  color: #666666;
  width: 40rem;
  height: 12rem ;
}

.card-movie-list {
  height: 100vh;
  overflow:auto;
}

.movie-list-thumbnail {
  width: 4rem;
  height: 4rem;
  object-fit:cover;
  border: none;
  object-position:top;
}