.App {
  height: 100px;
  font-family: 'Libre Franklin', sans-serif;
}

h2 {
  font-weight:700;
  font-family: 'Heebo', sans-serif;
}

.header {
  background-color: rgb(71, 65, 65) !important;
  color: white;
  height: 130px;
  font-size: 24px;
  align-items: center;
}

.search-icon {
  margin-left: 2em;
}

.search-input {
  background-color: transparent;
  color:white;
  border: none;
  outline:white;
  margin-left: 1em;
}

.card-movie-list {
  font-size: 16px;
  color: #666666;
  height: 100vh;
  overflow-y: scroll;
}

.movie-list-thumbnail {
  width: 4rem;
  height: 4rem;
  object-fit:cover;
  border: none;
  object-position:top;
  padding-left: 1em;
}

.movie-card {
  justify-content: center;
  cursor: pointer;
  border-left: none;
  border-right: none;
  border-top: none;
  padding-top: 1em; 
  padding-bottom: 1em; 
}

.movie-card:hover{
  background-color: #EBEBEB;
}

.movie-list-results-length {
  padding: 1.5em;
  font-size: 0.8em;
}

.movie-year {
  font-size: 0.8rem;
}

.year-slider-column {
  transform: translateY(-10px);
}

.rating-image {
  max-width: 2rem;
  max-height: 2rem;
  width: auto;
  height: auto;
}

.watchlist {
  border-radius: 0.3em;
  background-color: transparent;
  padding: 0.5em;
}

#watchlist-title {
  font-size: 10pt;
  padding-left: 0.5rem;
}

.movie-poster {
  margin-left: 2rem;

}

.plot-section {
  border-top: 1px solid #666666;
  margin: 2rem;
  padding-top: 2rem;
}

.ratings-section {
  border-top: 1px solid #666666;
  margin: 2rem;
  padding-top: 2rem;
}

.movie-details-section {
  padding-left: 2rem;
}

.first-rating {
  border-right: 1px solid #666666;
}

.third-rating {
  border-left: 1px solid #666666;
}

.radio-labels {
  font-size: 10pt;
}

.radio-button {
  margin-left: 10px;
}

.header-headings {
  font-size: 10pt;
  text-transform: uppercase;
  align-items: flex-start;
}

.watchlist-title {
  text-align: center;
  font-weight: 700;
  padding-top: 2rem;
}

.watchlist-section {
  border-left: 1px solid #666666;
}

@media (max-width: 1200px) {
  .movie-poster {
    display: none;
  }

  .movie-list-thumbnail{
    display: none;
  }
}